*.plan
*.pyc
*.retry
*.tfplan
*.tfstate*

.cache/
.DS_Store
.envrc
.env
.terraform
tmp/
ansible/roles/heka/files/heka-3_6_0.4-linux-amd64.tar.gz
ansible/roles/aixagent/files/rizhiyi-agent-3.2.0.3.tar.gz
