{
  "forwarder" : {
    "forwarder bin" : "//opt/rizhiyi-agent//bin/logstash-forwarder-java.jar",
    "forwarder config" : "//opt/rizhiyi-agent//conf/forwarder.config",
    "forwarder log" : "//opt/rizhiyi-agent//log/forwarder.log",
    "max retry times" : 5,
    "jvm option" : [ "-server", "-Xms64m", "-Xmx512m", "-XX:ParallelGCThreads=1", "-Dfile.encoding=utf-8" ]
  },
  "daemon" : {
    "hb collector addr" : "{{ consumer_ip }}:{{ consumer_port }}",
    "hb interval in second" : 60,
    "listen addr" : "0.0.0.0",
    "listen port" : 10001,
    "check process interval in second" : 30,
    "backup dir" : "//opt/rizhiyi-agent//backup",
    "target dir" : "//opt/rizhiyi-agent//bin",
    "addr in heartbeat" : "0.0.0.0",
    "ip prefix" : null,
    "use ssl" : false
  }
}
