{
  "global" : {
    "hostname" : "",
    "ip" : "",
    "spool size" : 1000,
    "idle timeout" : 5000,
    "max message size" : 65536,
    "tail" : false,
    "send to collector" : true,
    "flush interval in ms" : 5000,
    "rescan interval in ms" : 60000,
    "thread pool size" : 1
  },
  "network" : {
    "servers" : [ "{{ consumer_ip }}:{{ consumer_port }}" ],
    "timeout" : 15,
    "compressed" : false,
    "token" : "87644362d6231a77d0373990fb61be74",
    "ssl" : false,
    "ssl certificate" : null,
    "ssl ca" : null,
    "ssl key" : null,
    "rate limit" : 0.0,
    "server type" : null
  },
  "files" : [
    {
      "paths": [
        // 这里支持通配符，但不支持正则
        "{{ test_files_root }}*.log"
      ],

      "fields": {
          "appname" : "heka_test_app",
          "tag" : "heka_test_tag",
          // host可以不配置，默认用服务器的hostname
          "host" : "heka_host",
          // 文件最后修改时间，超出改时间的不再采集
          "dead time" : "720h"
       }
    }
  ],
  "execs" : null,
  "inputs" : null,
  "backups" : null,
  "remotes" : {
    "Local" : {
      "type" : "Local",
      "worker" : 1,
      "name" : "Local",
      "http_cfg" : null
    }
  }
}
